<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1,minimum - scale = 1">
    <title>El Bot</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">

</head>
<body>
    <h2>El tuercas</h2>
    <div class="contenedor">
        <div class="Go">
            <input type="range" id="go"> 
        </div> 
        <div class="Button">
            <form action="/Media_vuelta" method="POST">
                <input type="submit" value="90" id = "Media_vuelta" name="Media_vuelta"> 
            </form> 
            <div >    
                <form action="/Vuelta" method="POST">
                    <input type="submit" value="180" id = "Vuelta" name="Vuelta">
                </form>
            </div>    
        </div>
        <div class="Posicion">
            <input type="range" id = "Righ_andleft">
        </div>
    </div>    
    
</body>
    <script src="{{url_for('static', filename = 'js/task.py')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/control.js')}}"></script>
</html>